<%= form_with(model: resultat) do |form| %>
  <% if resultat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(resultat.errors.count, "error") %> prohibited this resultat from being saved:</h2>

      <ul>
        <% resultat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :event, style: "display: block" %>

    <%= form.select(:event_id, options_from_collection_for_select(
                  @event,'id', 'formatted_name', 
                 :selected => form.object.event_id), 
                 :include_blank => true )%>
 </div>

  <div>
    <%= form.label :qualification, style: "display: block" %>
    <%= form.select :qualification, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                                     11, 12, 13, 14, 15, 16, 17, 18, 19, 20]%>
  </div>

  <div>
    <%= form.label :course, style: "display: block" %>
    <%= form.select :course, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10,
                               11, 12, 13, 14, 15, 16, 17, 18, 19, 20]%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
