<div id="<%= dom_id resultat %>">
  <p>
    <strong>Event:</strong>
    <%= resultat.event_id %>
  </p>

  <p>
    <strong>Pilote:</strong>
    <%#= resultat.pilote_id %>
    <%=  @pilote = Pilote.find(@resultat.pilote_id).nom %> 
   
  </p>

  <p>
    <strong>Qualification:</strong>
    <%= resultat.qualification %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= resultat.course %>
  </p>

  <p>
    <strong>DOTD:</strong>
    <%= resultat.dotd %>
  </p>

  <p>
    <strong>MeilleurTour:</strong>
    <%= resultat.mt %>
  </p>

</div>
