<div id="<%= dom_id resultat %>">
  <p>
    <strong>Event:</strong>
    <%= resultat.event %>
  </p>

  <p>
    <strong>Pilote:</strong>
    <%= resultat.pilote %>
  </p>

  <p>
    <strong>Qualification:</strong>
    <%= resultat.qualification %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= resultat.course %>
  </p>

</div>
