
<% if user_signed_in? %>

<br/>

      <h1 class="fa-solid fa-file-pen fa-2xl fw-bold fs-1"> - Resultats </h1>   
      <br/> <br/> <hr/> <br/>

  <table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Event</th>
        <th>Pilote</th>
        <th colspan="2">Ecurie</th>
        <th>Qualification</th>
        <th>Course</th>
        <th>DOTD</th>
        <th>MT</th>

        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @resultats.each do |resultat| %>
            <tr>
              <td> 
              
               <% eventID = resultat.event_id %>
                <% if eventID.nil? %>
                <% else %>
                  <%= "#{Event.find(eventID).date}" " | " "#{Event.find(eventID).circuit}" " | div " "#{Event.find(eventID).division}" %>
                <% end %>

              </td>
              <td>

              <% if resultat.pilote_id.nil? %>
                <% else %>
              
               <%=  pilote = Pilote.find(resultat.pilote_id).nom %>  
              
               <%  equipeId = Pilote.find(resultat.pilote_id).ecurie %>  
               
               <% end %>

               <td>
                <% if resultat.pilote_id.nil? %>
                <td></td>
                <% else %>
                 <%=  Equipe.find(equipeId).nom %>  </td> 
               <td>  <%= image_tag Equipe.find(equipeId).logo, 
                         style: "width: 400px; display: block", 
                         class: "img-fluid rounded" %>
               </td> 
               <% end %>

              <td> <%= resultat.qualification %>  </td>
              <td> <%= resultat.course %>    </td>
              <td> 
                <% resultat.dotd %>  
                <% if resultat.dotd == true %>
                  <i class="fa-solid fa-circle-check fa-xl" style="color:green"></i>
                <% else %>
                  <i class="fa-solid fa-circle-xmark fa-xl" style="color:red"></i>
                <% end %>
              </td>
              
              <td> 
                <% resultat.mt %> 
                <% if resultat.mt == true %>
                  <i class="fa-solid fa-circle-check fa-xl" style="color:green"></i>
                <% else %>
                  <i class="fa-solid fa-circle-xmark fa-xl" style="color:red"></i>
                <% end %>   
              </td>

                <%#= actions %>
                <td width="5%">
                    <%= link_to '', resultat, class:"fa-solid fa-eye btn btn-primary" %> 
                </td>
                <td width="5%">
                  <%= button_to '', resultat, class:"fa-solid fa-trash-can btn btn-danger", method: :delete, :onclick => "return confirm('Sûr ?')" %>
                </td> 
                <td width="5%">
                    <%= link_to "", edit_resultat_path(resultat), class:"fa-regular fa-pen-to-square btn btn-secondary" %> 
                </td> 

            </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to "Nouveau resultat", new_resultat_path, class:"btn btn-primary" %>

<% else %>

  <h3> Vous n'avez pas les droits...</h3>
  
<% end %>
