<%= form_with(model: pilote) do |form| %>
  <% if pilote.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pilote.errors.count, "error") %> prohibited this pilote from being saved:</h2>

      <ul>
        <% pilote.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nom, style: "display: block" %>
    <%= form.text_field :nom %>
  </div>

  <div>
    <%= form.label :statut, style: "display: block" %>
    <%= form.text_field :statut %>
  </div>

  <div>
    <%= form.label :ecurie, style: "display: block" %>
    <%= form.select(:ecurie, options_for_select([
                          ["Mercedes", "Mercedes"], ["RedBull", "RedBull"], ["Ferrari", "Ferrari"]], 
                            :selected => form.object.ecurie), 
                            :include_blank => true) %>
  
 <%# si pas d'ecurie selectionnée, image blank, sinon logo ecurie %>
    <% if pilote.ecurie.blank?%>
      <%= image_tag 'no-image.png', alt: 'icon', width: '200' %>
    <% else %>
      <%= image_tag pilote.ecurie + '.png', alt: 'icon', width: '200' %>
    <% end %>
    

  </div>

  <div>
    <%= form.label :division, style: "display: block" %>
    <%= form.text_field :division %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
