<div id="<%= dom_id pilote %>">
  <p>
    <strong>Nom:</strong>
    <%= pilote.nom %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= pilote.statut %>
  </p>

   <% pilote.ecurie %>

  <p>
    <strong>Ecurie:</strong>
   <%=  @equipe = Equipe.find(@pilote.ecurie).nom %> 

 <%# si pas d'ecurie selectionnée, image blank, sinon logo ecurie %>
    <% if pilote.ecurie.blank?%>
      <%= image_tag 'no-image.png', alt: 'icon', width: '200' %>
    <% else %>
      <%= image_tag Equipe.find(@pilote.ecurie).image, style: "width: 400px; display: block", class: "img-fluid rounded" %> 
    <% end %>

  </p>

  <p>
    <strong>Division:</strong>
    <%= pilote.division %>
  </p>

</div>
